---
// src/pages/rooms/[name].astro
import BaseLayout from "../../layouts/BaseLayout.astro";

// Simulando datos JSON que podrías obtener de una API
// Función que simula getStaticPaths usando datos locales
export async function getStaticPaths() {
	const res = await fetch("https://api.spacexdata.com/v5/launches/query", {
		method: "POST",
		headers: {
			"Content-Type": "application/json",
		},
		body: JSON.stringify({
			query: {},
			options: {
				sort: {
					date_unix: "asc",
				},
				limit: 5,
			},
		}),
	});

	const spaceData = await res.json();

	console.log(spaceData.docs);

	return spaceData.docs.map((launch) => ({
		params: { name: launch.name },
		props: {
			launchDetail: launch.details,
			launchSmallImage: launch.links.patch.small,
		},
	}));
}

// Acceder al parámetro 'name' que definimos en getStaticPaths
const { name } = Astro.params;
const { launchDetail, launchSmallImage } = Astro.props;

const decodedName = decodeURIComponent(name);
---

<BaseLayout>
	<h1>{decodedName}</h1>
	<p>Bienvenido al lanzamiento del {decodedName}</p>
	<p>{launchDetail}</p>
	<img src={launchSmallImage} alt="" />
</BaseLayout>
