---
import BaseLayout from "../../layouts/BaseLayout.astro";

const res = await fetch("https://api.spacexdata.com/v5/launches/query", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify({
		query: {},
		options: {
			sort: {
				date_unix: "asc",
			},
			limit: 5,
		},
	}),
});

const spaceData = await res.json();
const launches = spaceData.docs;

const pageTitle = "Launches";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="tags">
		{
			launches.map((room) => (
				<p class="room">
					<a href={`/rooms/${room.name}`}>{room.name}</a>
				</p>
			))
		}
	</div>
</BaseLayout>
